.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__list-item {
        &:nth-child(6){
            visibility: hidden;
            display: none;
        }
    }
}


.active{
    transform: translateX(100%);
    transition: linear 50ms;
}

@include respond($tport){
    .navbar{
        &__list{
            padding: 15% 0; 
            background: black;
            width: 70%;
            height: 100%;
            right: 100%;
            top: 0;
            position: fixed;
            flex-direction: column;
            justify-content: space-around;
            z-index: 999;
            transition: linear 50ms;
        }

        &__list-item{
            &:nth-child(6){
                visibility: visible;
                display: block;
            }
        }

        &__button{
            visibility: hidden;
            display: none;
        }
        
        &__burger-menu{
            display: block;
            visibility: visible;
            z-index: 9999;
        }
    }
}