.background{
    background: $color6;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -9999;
    &--2{
        width: 550px !important;
        height: 550px !important;
    }
}

.person{
    width: 750px;
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &--2{
        width: 500px;
    }
}