$color1: #171420; // default background colour for the website
$color2: white;  // default colour font for the website
$color3: #2A4AF4;
$color4: #5F65F4;
$color5: #9B9B9B;
$color6: #9694E7;
$color7: #1F1D2C;
$color8: #181420;


$wrapper: 1600px;
$maxres: 1920px;
$minres: 375px; 
$defaultem: 16px;


$phone: 600px; 
$tport: 990px; 
$tland: 1200px;  
$sdesk: 1400px;  
$bdesk: 1800px;  

$font-family1: 'Raleway'; // default font for the website

$f90: 5.625rem;
$f80: 5rem;
$f70: 4.375rem;
$f60: 3.75rem;
$f50: 3.125rem;
$f45: 2.8125rem;
$f40: 2.5rem;
$f30: 1.875rem;
$f25: 1.5625rem;
$f20: 1.25rem;
$f18: 1.125rem;
$f16: 1rem;
$f14: .875rem;
$f10: .625rem;

